.newArrivalProduct {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.newArrivalProduct .cart {
  width: 300px;
  height: 300px;
  background-color: #efefef;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 20px;
  position: relative;
  cursor: pointer;
  transition: all 0.5s ease;
  margin: 10px;
}
.newArrivalProduct .cart:hover {
  background-color: #fde74e;
}

.newArrivalProduct .cart .cartImg {
  height: 200px;
}
.newArrivalProduct .cart .cartImg Image {
  max-width: 100%;
}
.newArrivalProduct .cart .cartInfo {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100px;
}
.newArrivalProduct .cart .cartInfo h4 {
  margin: 0;
  text-transform: uppercase;
  letter-spacing: 1.5px;
  color: #2d3a4b;
  font-family: "Montserrat", sans-serif;
  margin-bottom: 10px;
  font-weight: 700;
}
.newArrivalProduct .cart .cartInfo p {
  text-align: center;
  font-size: 12px;
  font-family: "Playfair Display", serif;
  color: #666666;
  margin: 0;
}
.newArrivalProduct .cart .price {
  color: #2d3a4b;
  font-family: "Montserrat", sans-serif;
  font-weight: bold;
  position: absolute;
  top: 0;
  right: 0;
  padding: 10px;
  opacity: 0;
  transition: all 0.5s ease;
}
.newArrivalProduct .cart:hover .price {
  opacity: 1;
}
